
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* 
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
  
    
    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.saldo-zoom {

transition: all 0.3s ease;

color: #ffffff;

}

.current-balance {
    color: #b5b0b0;
    font-size: 13px;
    display: block; /* Adicione esta linha */
    margin-bottom: 1px; 
}

.saldo-zoom.zoom-in {

transform: scale(1.5);

color: rgb(37, 166, 8);

}
  
.logo img
{
    height: 2.5rem;
    cursor: pointer;
}
h1
{
    color:blueviolet;
    font-weight: 600;
    font-size: 2rem;
    margin-top: .5rem;
}

p
{
    font-size: 1.3rem;
}
body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255);
   
}

header

{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
  
}
nav 
{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding:1.3rem 6%;
    align-items:center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(70, 70, 70); /* Borda tracejada de 2px, sólida e verde */
}
.main-container
{
    background-color: rgb(224, 225, 228);
    border: 1px solid #2d2d2d1f; /* Borda tracejada de 2px, sólida e verde */
    color: #000000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30rem;
    max-width: 90vw;
    justify-content: space-evenly;
    min-height: 25rem;

   

}
.main-container-video
{
 background-color: rgb(224, 225, 228);
    border: 1px solid #2d2d2d1f; /* Borda tracejada de 2px, sólida e verde */
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50rem;
    max-width: 90vw;
    box-shadow: 2px 2px 10px #bbbbbb;
    justify-content: space-evenly;
    min-height: 25rem;

   

}

.main-container p
{
    word-break: break-word;
 
  
}

.main-container img
{
    max-width: 90%;
}
.preferencia
{
    display: flex;
    align-items: center;
}
.preferencia img
{
    height:7rem;
    box-shadow: 2px 2px 15px #bbbbbb;
    border-radius: 12px;
    
}


.x 
{
    padding:1rem;
    font-size: 1.5rem;
    
}
.valor
{
    border: 1px solid #ffffff; /* Borda tracejada de 2px, sólida e verde */
    border-radius: 7px;
    background-color: #000000f3;
    color: #000;
    font-size: 1.7rem;
    outline: none;
    padding: .2rem .5rem;
    cursor: pointer;
    display: inline-block; /* Faz com que o elemento se comporte como inline mas aceite propriedades de bloco */
}
.main-section
{
    text-align: center;
    max-width: 95vw;
    align-items: center;
    margin: 4rem auto 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.comecar
{
   
    background-color: #DB8300;
    border: 1px solid #1e1301; /* Borda tracejada de 2px, sólida e verde */
    padding: 1rem;
    word-break: break-word;
    border-radius: 12px;
    max-width: 40rem;
    width:100%;
    color:#000000;
    margin-top:2rem;
    box-shadow: 2px 4px 10px #db830055;
    cursor: pointer;
   
}

.align-container
{
    margin:auto;
}

@media(max-width:30rem)
{
    .preferencia img 
    {
        height:5rem;
    }

    .logo img 
    {
        height: 1.7rem;
    }

   
}